@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple bar changes */
.simplebar-scrollbar::before {
  background-color: #444 !important;
}

/* fixes for Safari */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Fader for scroll wrappers */
.should_fade::after {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(15, 15, 15, 0) 0%, rgb(15, 15, 15) 50%);
  will-change: opacity;
  pointer-events: none;
}

/* Changes to toastify */
.Toastify__toast-icon {
  width: auto !important;
  display: block !important;
}

/* Changes to Calendar Styling */
.rbc-header {
  padding: 0.5rem 0.75rem !important;
  font-weight: bold;
  line-height: 1.25rem;
}

.rbc-month-view,
.rbc-off-range-bg,
.rbc-header,
.rbc-row,
.rbc-day-bg,
.rbc-row-bg,
.rbc-month-row {
  border-color: rgba(255, 255, 255, 0.1) !important;
}
